{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": false,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    },
    {
      "files": ["*.ts", "*.js"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "package.json",
      "options": {
        "printWidth": 0
      }
    }
  ]
}
